<% if params[:search].nil? %>
    <p><h4>Have you ever bought something and wondered if you could have bought it cheaper somewhere else? Well now you
      don't!! Within seconds, Gremlin can scour over 150 textbook sites for you! The Gremlin search engine uses what is
      called the ISBN (International Standard Book Number), which is the book industry's way of tracking the millions of
      titles that are available. It is found on every book, usually on the back cover in the lower right hand corner OR
      you can find it listed under the details of any book available online too. So...find that ISBN and leave the rest
      to Gremlin!! (Please note: Gremlin accepts ISBN numbers in either 10 or 13 digit format)</h4></p>    <br/>
<% end %>

<div style="text-align: center">
  <%= form_tag search_index_path, :method => "get" do %>
      <%= search_field_tag :search, params[:search], :placeholder => "Search ISBN", :results => 0 %>
      <%= button_tag "Search", :type => 'submit', class: "btn btn-primary" %>
  <% end %>
</div>

<% if !params[:search].nil? %>


    <% if @search_results.count > 0 %>

        <!-- TABS -->
        <ul class="nav nav-tabs">
          <% @search_results.each do |key, search_result| %>
              <% if @search_results.keys[0] == key %>
                  <li class="active"><a href="#tab<%= key %>" data-toggle="tab"><%= key %></a></li>
              <% else %>
                  <li><a href="#tab<%= key %>" data-toggle="tab"><%= key %></a></li>
              <% end %>
          <% end %>
        </ul>

        <!-- TAB CONTENT -->
        <div class="tab-content">
          <% @search_results.each do |key, search_result| %>
              <!-- DETAILS -->
              <% if @search_results.keys[0] == key %>
                  <div class="tab-pane active" id="tab<%= key %>">
              <% else %>
                  <div class="tab-pane" id="tab<%= key %>">
              <% end %>
              <div class="container">
                <article>
                  <table class="table table-bordered">
                    <th colspan="2" style="background-color: ghostwhite">Book Information</th>
                    <tr>
                      <td style="width: 20%; text-align: center">
                        <img src="<%= search_result[0][:image_link] %>"/>
                      </td>
                      <td style="width: 80%">
                        <table>
                          <tr>
                            <td>Title</td>
                            <td><%= search_result[0][:title] %></td>
                          </tr>
                          <tr>
                            <td>Author</td>
                            <td><%= search_result[0][:author].to_sentence %></td>
                          </tr>
                          <tr>
                            <td>ISBN</td>
                            <td><%= key %></td>
                          </tr>
                          <tr>
                            <td>Description</td>
                            <td><%= search_result[0][:description] %></td>
                          </tr>
                          <tr>
                            <td>Publisher</td>
                            <td><%= search_result[0][:publisher] %></td>
                          </tr>
                          <tr>
                            <td>Binding</td>
                            <td><%= search_result[0][:binding] %></td>
                          </tr>
                          <tr>
                            <td>Retail Price</td>
                            <td><%= search_result[0][:retail_price] %></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </article>
              </div>

              <br>

              <table class="table table-bordered table-striped table-hover">
                <th colspan="7" style="background-color: ghostwhite">Book Offers</th>
                <tr style="background-color: lightgrey; font-weight: bold">
                  <td>Vendor</td>
                  <td>Condition</td>
                  <td>Price</td>
                  <td>Shipping</td>
                  <td>Total Cost</td>
                  <td>Notes</td>
                  <td>Rent/Buy</td>
                  <% if Rails.env.development? %>
                      <td>Raw Results</td>
                  <% end %>
                </tr>
                <% if search_result[1].count > 0 %>
                    <% search_result[1].each do |item| %>
                        <tr>
                          <td><%= item[:vendor] %></td>
                          <td><%= item[:condition].to_s.titleize %></td>
                          <% if item[:price] == 0 %>
                              <td>Unknown</td>
                          <% else %>
                              <td><%= convert_to_currency(item[:price]) %></td>
                          <% end %>

                          <% if item[:shipping] == 0 %>
                              <td>Unknown</td>
                          <% else %>
                              <td><%= convert_to_currency(item[:shipping]) %></td>
                          <% end %>

                          <% if item[:total_cost] == 0 %>
                              <td>Unknown</td>
                          <% else %>
                              <td><%= convert_to_currency(item[:total_cost]) %></td>
                          <% end %>
                          <td><%= item[:notes] %></td>
                          <% if item[:rent] %>
                              <td><%= link_to "Rent", item[:rent_link], :target => "_new" %></td>
                          <% else %>
                              <td><%= link_to "Buy", item[:buy_link], :target => "_new" %></td>
                          <% end %>
                          <% if Rails.env.development? %>
                              <td><%= item[:results_string] %></td>
                          <% end %>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                      <td>No results to display for <%= key %></td>
                    </tr>
                <% end %>
              </table>

              </div>
          <% end %>

          </div>

          <div class="alert alert-block">
            <table>
              <tr>
                <td>
                  <ul style="font-size: x-small ">
                    <li>Please note that all prices are subject to change. Please verify purchase prices when you
                      complete your purchase through each vendor.
                    </li>
                    <li>Any item marked unknown usually is the result of minimal vendor information. For example, it
                      could indicate that shipping is free, or that shipping is truly unknown.
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>

    <% else %>
        <table>
          <tr>
            <td>No results to display for <%= params[:search] %>.</td>
          </tr>
        </table>
    <% end %>

<% end %>