<h3>Customers</h3>
<table class="table table-striped">

  <thead>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Commission Junction ID</th>
    <th>Amazon ID</th>
    <th>Logo</th>
  </tr>
  </thead>

  <% if @tenants.count > 0 %>
      <% @tenants.each do |tenant| %>
          <tr>
            <td><%= tenant.title %></td>
            <td><%= link_to tenant.url, tenant.url %></td>
            <td><%= tenant.cj_website_id %></td>
            <td><%= tenant.amazon_associate_tag %></td>
            <td><%= image_tag(tenant.logo, size: "30x30") %></td>
          </tr>
      <% end %>
  <% end %>
</table>
<br/>

<h3>Searches Conducted by Customer</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Count</th>
  </tr>
  </thead>
  <% @search_counts.each do |search_count| %>
      <tr>
        <td><%= search_count[0] %></td>
        <td><%= search_count[1] %></td>
      </tr>
  <% end %>
</table>

<h3>Buy Clicks Conducted by Customer</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Count</th>
  </tr>
  </thead>
  <% @buy_counts.each do |buy_count| %>
      <tr>
        <td><%= buy_count[0] %></td>
        <td><%= buy_count[1] %></td>
      </tr>
  <% end %>
</table>

</table>





