<!-- Navbar
  ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="../">Gremlin Books</a>
      <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Search", search_index_path %></li>

        </ul>
        <div class="nav pull-right" id="main-menu-right">
          <div style="color:white" id="user_nav">

              <% if user_signed_in? %>
                  <%= current_user.email %> |
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              <% else %>
                  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>