<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= current_tenant.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="College text books for cheap!">
  <meta name="author" content="Gremlin Books, LLC">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>
  <%= stylesheet_link_tag "font-awesome.min" %>
  <%= stylesheet_link_tag "bootswatch" %>
  <%= javascript_include_tag "modernizer" %>

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38214328-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>

</head>

<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
<%= javascript_include_tag "bsa" %>

<%= render 'layouts/main_navbar' %>
<%= render 'layouts/message_bar' %>

<div class="container">
  <%= yield %>
  <br><br><br><br>


</div>

<%= render 'layouts/footer' %>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "app" %>
<%= javascript_include_tag "bootswatch" %>
<%= javascript_include_tag "application" %>

<script>
    $(function () {
        $("#isbn").popover () ;
    });

    // you can override default options globally, so they apply to every .expander() call
    $.expander.defaults.slicePoint = 120;

    $(document).ready(function() {
        // simple example, using all default options unless overridden globally
        $('td.expandable').expander();

        // *** OR ***

        // override default options (also overrides global overrides)
        $('td.expandable').expander({
            slicePoint:       80,  // default is 100
            expandPrefix:     ' ', // default is '... '
            expandText:       '[...]', // default is 'read more'
            collapseTimer:    5000, // re-collapses after 5 seconds; default is 0, so no re-collapsing
            userCollapseText: '[^]'  // default is 'read less'
        });

    });
</script>

</body>

</html>
